<h1>Tasks API</h1>

<p>This is a RESTful JSON API for tasks. It exposes the following endpoints:</p>

<ul>
  <li>
    <%= link_to "#get-tasks" do %>
      <code>GET /tasks</code>
    <% end %>
  </li>
</ul>

<h2 id="#get-tasks">GET /tasks</h2>

<pre>
  tasks: [
    {
      description: "This needs doing"
    },
    {
      description: "Buy bread"
    }
  ]
}
</pre>
